# .gitignore
**/.coverage
**/.local
**/.pdm-build
**/.pdm-python
**/.pytest_cache
**/.ruff_cache
**/.venv
**/*.egg*
**/*.py[cod]
**/*.so
**/__pycache__

# .dockerignore
**/.gitignore
**/.vscode
**/tests
.git
.github
docker
