[dependency-groups]
dev = [
    "pyright ~= 1.1",
    "pytest ~= 9.0",
    "pytest-asyncio ~= 1.3",
    "pytest-cov ~= 7.0",
    "ruff ~= 0.15",
]

[tool.pyright]
typeCheckingMode = "strict"

[tool.pytest.ini_options]
asyncio_mode = "auto"
asyncio_default_fixture_loop_scope = "function"
addopts = ["--import-mode=importlib", "-vv"]
testpaths = ["src/*/tests"]

[tool.ruff]
target-version = "py314"
src = ["src/"]

[tool.ruff.lint]
select = ["E", "F", "UP", "B", "SIM", "I"]

[tool.uv.sources]
core = { workspace = true }
dtos = { workspace = true }

[tool.uv.workspace]
members = ["src/*"]
